/************************************************************************
   ___ _                          _               
  / __\ |__   __ _ _ __ __ _  ___| |__   ___  ___ 
 / /  | '_ \ / _` | '__/ _` |/ _ \ '_ \ / _ \/ _ \
/ /___| | | | (_| | | | (_| |  __/ |_) |  __/  __/
\____/|_| |_|\__,_|_|  \__, |\___|_.__/ \___|\___|
                       |___/                      

/*********************** Commenting is sexy ******************************/
/*********************** Write your styles below *************************/


.header {
	display: table;
	position: relative;
	width: 100%;
	height: 80%;
	margin-top: 4%;
	margin-bottom: 6%;
	background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	
    
	
}

.header .topic{
	font-family: 'Proxima Nova Semibold';
	font-size: 36px;
	color: #525252;
}

.header .sub-desc{
	font-family: 'Proxima Nova Semibold';
	font-size: 16px;
   color: #646464;
}

.header .desc{
	font-family: 'proximanovalight';
	font-size: 18px;
	color: #666666;
	line-height: 134%;
}

.header .btn-lg {
   
   
   font-size: 18px;
   color: #FFFFFF;
   text-shadow: -0px -1px #000000;
   background-color: #06C587;
   box-shadow: 0px 4px #04AF78;
   
}

.header .logo_text_left {
	text-align: right;
	margin-top: 80px;
	font-style: italic;
	color: #8AB5D5;
	font-size:20px;
}





.header .logo_text_right {
	text-align: left;
	margin-top: 80px;
	font-style: italic;
	font-size: 20px;
	color: #CFA622;
}

.Payment{
	font-family: 'Proxima Nova Semibold';
	font-size: 24px;
	color: #F6F8FC;
	background-color: #FF4A49;
	padding: 3% 0;
}
.Payment .btn-lg {
   font-family: 'proximanovalight';
   font-size: 19px;
   color: #F6F8FC;
   background-color: transparent;
   border-color: #F6F8FC;
   border-radius: 36px;
   width: 100%;
   margin-top: 10%;
   
}

.Payment .btn-lg:hover {
   
   font-size: 19px;
   color: #0F334F;
   background-color: #F6F8FC;
   border-radius: 17px;
   width: 100%;
   margin-top: 10%;
   
}


.Portal{
	display: table;
	position:relative;
	width: 100%;
	background-color: #013950;
	padding: 6% 0;
	padding-top: 0px;
	
}

.Portal h1{
	font-family: 'Proxima Nova Semibold';
	font-size: 36px;
	color: #F6F8FC;
	align: left;
	
	
}

.Portal p{
	font-family: 'proximanovalight';
	font-size: 20px;
	color: #F6F8FC;
	align: left;
	
}

.Portal img{
	width: 360px;
	height: 580px;
	border: 2px;
	border-style: dashed;
	border-color: #99afb9;
	border-top: none;
	padding: 0 15px 70px 15px;
	padding: 0 15px 80px 15px;
    border-radius: 0 0 30px 30px;
	
	
}

.Portal .portal_desc	{
	width: 360px;
	height: 475px;
	padding-top: 166px;
	
}

.Billing{
	display: table;
	position:relative;
	width: 100%;
	padding: 7% 0;
	
}
.Billing h1 {
	font-family: 'Proxima Nova Semibold';
	font-size: 32px;
	color: #525252;
}

.Billing h3 {
	font-family: 'Proxima Nova Semibold';
	font-size: 18px;
	color: #333333;
	line-height: 134%;
}

.Billing p {
	font-family: 'proximanovalight';
	font-size: 16px;
	color: #525252;
}


.Billing li {
	display: block;
}

.Billing li:before{
	content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #6E78B4;
	float: left;
    margin-left: -40px;
}

.billing_desc h2{
	font-family: 'proximanovalight';
	font-size: 26px;
	color: #525252;
	line-height: 120%;
	
}

.billing_desc  p{
	font-family: 'proximanova-regular-webfont';
	font-size: 16px;
	color: #646464;
	line-height: 150%;
	
}

.billing_desc_aside .inner_text1 {
	font-family: 'Proxima Nova Semibold';
	font-size: 14px;
	color: #646464;
	line-height: 86%;
}

.billing_desc_aside .inner_text2 {
	font-family: 'Proxima Nova Semibold';
	font-size: 14px;
	color: #06C587;
	line-height: 115%;
}
.billing_desc_aside p{
	font-family: 'proximanova-regular-webfont';
	font-size: 16px;
	color: #646464;
	line-height: 150%;
	
}

.Partners{
	background-color: #27292F;
	padding: 5% 0;
}

.Partners img {
	width: 160px;
	height: 65px;
}

.Footer{	
	padding: 4% 0;
}


.navFooter li {
    float: left;
	list-style-type: none;
}

.navFooter li a {
    display: block;
	font-size: 12px;
    color: #222222;
    text-align: center;
    padding: 16px;
    text-decoration: none;
	
}

.imgLogo {
	padding-top: 0px;
}

.navFooter li a img{
	width: 85%;
	height: 41px;
}


.header .col-md-12 .banner {
	width: 229px;
	height: 207px;
}

@font-face {
font-family: 'Proxima Nova Semibold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Semibold'), url('../fonts/Proxima Nova Semibold.woff') format('woff');
}

@font-face {
	font-family: 'proximanovalight';
	src: local('proximanovalight'), url('../fonts/proximanovalight.woff') format('woff');
}

@font-face {
	font-family: 'proximanova-regular-webfont';
	src: local('proximanova-regular-webfont'), url('../fonts/proximanova-regular-webfont.woff') format('woff');
}


